/* ========================== CONTENT CSS ========================== */

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1545px;
}

// Content-introduce
.main {
  background: url("../img/bg-content1.webp") no-repeat;
  padding-top: 120px;

  &__content {
    padding-top: 12rem;

    &-introduce {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      .introduce__text {
        max-width: calc(100% / 3);
        padding: 0 15px;
        &-title {
          font-size: 48px;
        }
        &-subtitle {
          margin-top: 32px;
          font-size: 16px;
        }
      }
      .introduce__card {
        max-width: calc(100% / 3 * 2);

        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        &-item {
          width: calc(100% / 3);
          text-align: center;
          padding: 0 15px 30px;
          .item__wrap {
            background-color: #fff;
            border-radius: 15px;
            padding: 18px;
            &-img {
              border-radius: 16px;
              display: flex;
              justify-content: center;
              margin: auto;
              padding: 36px;
              img {
                border-radius: 16px;
                box-shadow: 0 2px 5px rgb(0 0 0 / 20%);
              max-width:100%;

              }
            }
            &-title {
              padding: 15px 0 0;
              font-size: 20px;
              color: #ccc;
            }
          }
        }

        &-item:hover {
          cursor: pointer;
          .item__wrap {
            box-shadow: 0 3px 10px rgb(0 0 0 / 10%);
            &-img {
              background-color: #f4f4f4;
            }
            &-title {
              color: #000;
            }
          }
        }
      }
    }
    &-video {
      background: url("../img/background-content.webp") no-repeat;
      .video__section {
        &-item {
          margin: 48px auto;
          max-width: calc(100% / 3 * 2);
          .video__wrap {
            background: #fff;
            box-shadow: 0 3px 10px rgb(0 0 0 / 10%);
            border-radius: 40px;

            padding: 30px;
            #video {
              width: 100%;
              height: 100%;
              border-radius: 16px;
            }
          }
        }
      }
      .main__content-number {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 120px;
        .number__title {
          margin-top: 16px;
          font-size: 48px;
        }
        .number__rating {
          margin-top: 16px;
          i {
            font-size: 32px;
            color: #ffb606;
          }
        }
      }
    }
  }
  &__courses {
    background: #fff;
    font-size: 16px;
    text-align: center;
    color: #000;
    padding: 120px 0;
    &-title {
      h2 {
        font-size: 40px;
        padding-bottom: 42px;
      }
    }
    &-category {
      .category__menu {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0 20px;
        &-item {
          font-size: 20px;
          a {
            color: #000;
          }
        }
        &-item.active {
          font-weight: 700;
          border-bottom: 2px solid #fff;
        }
      }
    }
    &-course {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      gap: 20px 10px;
      padding-top: 20px;
      .course__wrap {
        display: flex;
        align-items: center;
        max-width: calc(100% / 4 - 15px);
        &-item {
          max-width:95%;
          background: #fff;
          border-radius: 15px;
          border: 1px solid rgb(216, 8, 8);
          padding: 20px;
          transition: all 0.5s;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius:5px
          }
          h3 {
            color: #000;
            padding: 16px 0;
          }
        }
      }
      .course__wrap-item:hover{
        cursor: pointer;
        background:linear-gradient(221deg,#ff3e3e 0%,#1d8ffa 29%,#ff0015 100%);
        box-shadow: 0 3px 10px rgb(0 0 0 / 10%);
        h3{
          color: #fff;
        }
      }
    }
  }
}
