/* ========================= IMPORT FONT ========================= */
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap");
/* ========================== RESET CSS ========================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.2s linear;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

/* ========================== RENGULAR CSS ========================== */
html {
  font-size: 10px;
  color: #333;
  font-family: "Fredoka", serif;
  background-color: #f4f4f4;
  transition: 0.2s linear;
  scroll-behavior: smooth;
}

/* ======================== HEADER SECTION ======================== */
.header__section {
  position: fixed;
  right: 0;
  left: 0;
  height: 134px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  padding: 0 65px;
  transition: 0.2s linear;
}

.header__section.active {
  background-color: #ff8806;
  height: 96px;
}

.header__nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__nav-item {
  margin: 0 25px;
  position: relative;
}

.header__nav-link {
  font-size: 1.6rem;
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
}

.header__nav-lineItem {
  display: block;
  background-color: #fff;
  width: 100%;
  height: 3px;
  border-radius: 2px;
  position: absolute;
  top: calc(100% + 8px);
  left: 0;
  transform: scaleX(0);
  transition: 0.2s linear;
}

.header__nav-link:hover ~ .header__nav-lineItem {
  transform: scaleX(1);
}

.header__buyNow-link {
  padding: 15px 42px;
  background-color: #000;
  color: #fff;
  font-size: 1.8rem;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.header__buyNow-link::after {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.3);
  transform: rotate(45deg) scaleY(3) translateY(-50%);
  transition: 0.2s linear;
}

.header__buyNow-link:hover::after {
  transform: rotate(45deg) scaleY(3) translateY(0);
}

/* ============================= BUTTON GO TO TOP ============================= */
.btn__toTop {
  background-color: #ff8806;
  color: #fff;
  position: fixed;
  bottom: 50px;
  right: 50px;
  padding: 50px 12px 20px;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  transition: transform 0.2s ease-in-out;
  transform: translateY(150px) rotateY(180deg);
  border: 2px solid #fff;
  z-index: 99;
}

.btn__toTop.active {
  transform: translateY(0) rotateY(360deg);
}

.btn__toTop:hover {
  transform: scale(1.05);
}

.btn__toTop i {
  font-size: 3rem;
  position: absolute;
  transition: 0.2s linear;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.btn__toTop:hover i {
  top: 15px;
}

/* =========================== HERO SECTION =========================== */
.hero__section {
  height: 1000px;
  background-image: url(../img/heroSection/hero__bg.webp);
  background-size: cover;
  background-position: 50% 0;
  position: relative;
  margin-bottom: 250px;
}

.hero__content {
  position: absolute;
  top: 230px;
  width: 420px;
  color: #fff;
  left: 150px;

}

.hero__content-title {
  opacity: 0;
  font-size: 4rem;
  text-transform: capitalize;
}


.hero__content-paragraph {
  opacity: 0;
  font-size: 1.4rem;
  margin-top: 16px;
  line-height: 1.8;
}

.hero__content-btn {
  opacity: 0;
  font-size: 1.4rem;
  font-weight: 800;
  color: #fff;
  width: 150px;
  height: 50px;
  display: inline-flex;
  overflow: hidden;
  border-radius: 30px;
  transition: .2s linear;
  position: relative;
  z-index: 2;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  border: 2px solid #fff;
}

.hero__content-title.active {
  animation: fadeIn-Slide-FromRight-HeroContent 1.5s ease-out forwards;
}

.hero__content-paragraph.active {
  animation: fadeIn-Slide-FromRight-HeroContent 1.5s .2s ease-out forwards;
}

.hero__content-btn.active {
  animation: fadeIn-Slide-FromRight-HeroContent 1.5s .4s ease-out forwards;
}


.hero__content-btn::before {
  content: '';
  background-color: #ff8806;
  position: absolute;
  inset: 0;
  z-index: -1;
}

.hero__content-btn::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: #fff;
  transform: translateX(-100%);
  transition: .5s ease-out;
  z-index: -1;
  opacity: 0;
}

.hero__content-btn:hover {
  color: #ff8806;
}

.hero__content-btn:hover::after{
  transform: translateX(0);
  opacity: 1;
}

.hero__img-wrap {
  position: absolute;
  top: 150px;
  right: 680px;
}

.hero__img {
  position: absolute;
  border-radius: 50%;
  opacity: 0;
  -webkit-user-drag: none;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
  object-fit: cover;
}

.hero__img.active {
  animation: fadeIn-Rotate-FromTop-HeroImg 1.5s .1s ease-out forwards;
}

@keyframes fadeIn-Rotate-FromTop-HeroImg {
  0% {
    transform: rotateY(-100deg) translateY(-40px);
  }

  60% {
    transform: rotateY(0) translateY(0);
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn-Slide-FromRight-HeroContent {
  0% {
    transform: translateX(-40px);
  }

  60% {
    transform: translateX(0);
  }

  100% {
    opacity: 1;
  }
}

.hero__img1-wrap {
  position: absolute;
  height: 300px;
  width: 300px;
  z-index: 3;
  top: 110px;
  left: 168px;
}

.hero__img-1 {
  height: 400px;
  width: 400px;
}

.hero__img1-tag {
  position: absolute;
  z-index: 4;
  background-color: #fff;
  bottom: -150px;
  right: -60px;
  text-align: center;
  width: 160px;
  height: 160px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

.hero__img1-tag.active {
  animation: fadeIn-Rotate-FromTop-HeroImg 1.5s .6s ease-out forwards;
}

.hero__img1-tagTitle {
  font-size: 2.6rem;
  font-weight: 800;
  color: #326460;
}

.hero__img1-tagContent {
  font-size: 1.6rem;
  margin-top: 12px;
}

.hero__img-2 {
  height: 260px;
  width: 260px;
  z-index: 2;
  left: -50px;
  top: 290px;
}

.hero__img-3 {
  height: 200px;
  width: 200px;
  right: 0;
  left: 0;
}

/* >> HERO FOOTER */
.hero__footer-img {
  position: absolute;
  z-index: 5;
  object-fit: cover;
  left: 130px;
  bottom: 10px;
}

#hero__footer-imgTree {
  width: 168px;
  height: 168px;
}

#hero__footer-imgTree.active {
  animation: fadeIn-Slide-FromBottom-HeroFooter 2s ease-in-out;
}

#hero__footer-imgLaptop {
  width: 860px;
  height: auto;
  left: 300px;
  bottom: 0;
  transform: translateY(50%);
}

#hero__footer-imgLaptop.active {
  animation: fadeIn-Slide-FromLeft-HeroFooter 2.5s ease-out;
}

@keyframes fadeIn-Slide-FromLeft-HeroFooter {
  0% {
    transform: translateY(50%) translateX(-200px);
    opacity: 0;
  }

  60% {
    transform: translateY(50%);
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn-Slide-FromBottom-HeroFooter {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  60% {
    transform: translateY(0);
  }

  100% {
    opacity: 1;
  }
}

/* ========================== CONTENT CSS ========================== */
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1545px;
}

.main__content-introduce {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.main__content-introduce .introduce__text {
  max-width: 33.3333333333%;
  padding: 0 15px;
}
.main__content-introduce .introduce__text-title {
  font-size: 48px;
}
.main__content-introduce .introduce__text-subtitle {
  margin-top: 32px;
  font-size: 16px;
}
.main__content-introduce .introduce__card {
  max-width: 66.6666666667%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.main__content-introduce .introduce__card-item {
  width: 33.3333333333%;
  text-align: center;
  padding: 0 15px 30px;
}
.main__content-introduce .introduce__card-item .item__wrap {
  background-color: #fff;
  border-radius: 15px;
  padding: 18px;
}
.main__content-introduce .introduce__card-item .item__wrap-img {
  border-radius: 16px;
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 36px;
}
.main__content-introduce .introduce__card-item .item__wrap-img img {
  border-radius: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.main__content-introduce .introduce__card-item .item__wrap-title {
  padding: 15px 0 0;
  font-size: 20px;
  color: #ccc;
}
.main__content-introduce .introduce__card-item:hover {
  cursor: pointer;
}
.main__content-introduce .introduce__card-item:hover .item__wrap-img {
  background-color: #ccc;
}
.main__content-introduce .introduce__card-item:hover .item__wrap-title {
  color: #000;
}

/* ========================== VIDEO SECTION CSS ========================== */
.vid__section {
  height: 100vh;
  display: flex;
}

.vid__section-wrap {
  margin: auto;
  padding: 30px;
  position: relative;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  display: inline-block;
  width: 700px;
  height: 450px;
  border-radius: 20px;
}

.vid__section-img,
.vid__section-video {
  width: 100%;
  height: 100%;
  transition: 2s linear;
}

.vid__section-video {
  display: none;
}

.vid__section-video.active {
  display: block;
}

.vid__section-img.remove {
  display: none;
}

.vid__section-iconWrap {
  position: absolute;
  bottom: 68px;
  left: 80px;
  z-index: 1;
}

.vid__section-iconWrap.remove {
  display: none;
}

.vid__section-icon {
  font-size: 5rem;
  color: #fff;
  cursor: pointer;
}

.vid__section-line {
  position: absolute;
  height: 5px;
  border-radius: 5px;
  width: 500px;
  background-color: rgba(255, 255, 255, 0.3);
  top: 50%;
  transform: translateY(-50%);
  left: calc(100% + 25px);
  overflow: hidden;
}

.vid__section-line::after {
  content: '';
  display: block;
  height: 5px;
  border-radius: 5px;
  width: 200px;
  background-color: #ff8806;
  position: absolute;
  top: 0;
  left: 0;
}

/* # sourceMappingURL=main.css.map */