/* ========================= IMPORT FONT ========================= */
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap");
/* ========================== RESET CSS ========================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.2s linear;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

/* ========================== RENGULAR CSS ========================== */
html {
  font-size: 10px;
  color: #333;
  font-family: "Fredoka", serif;
  background-color: #f4f4f4;
  transition: 0.2s linear;
}

/* ======================== HEADER SECTION ======================== */
.header__section {
  position: fixed;
  right: 0;
  left: 0;
  height: 134px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  padding: 0 65px;
  transition: 0.2s linear;
}

.header__section.active {
  background-color: #ff8806;
  height: 96px;
}

.header__nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__nav-item {
  margin: 0 25px;
  position: relative;
}

.header__nav-link {
  font-size: 1.6rem;
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
}

.header__nav-lineItem {
  display: block;
  background-color: #fff;
  width: 100%;
  height: 3px;
  border-radius: 2px;
  position: absolute;
  top: calc(100% + 8px);
  left: 0;
  transform: scaleX(0);
  transition: 0.2s linear;
}

.header__nav-link:hover ~ .header__nav-lineItem {
  transform: scaleX(1);
}

.header__buyNow-link {
  padding: 15px 42px;
  background-color: #000;
  color: #fff;
  font-size: 1.8rem;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.header__buyNow-link::after {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.3);
  transform: rotate(45deg) scaleY(3) translateY(-50%);
  transition: 0.2s linear;
}

.header__buyNow-link:hover::after {
  transform: rotate(45deg) scaleY(3) translateY(0);
}

/* BUTTON GO TO TOP */
.btn__toTop {
  background-color: #ff8806;
  color: #fff;
  position: fixed;
  bottom: 50px;
  right: 50px;
  padding: 50px 12px 20px;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  transition: transform 0.2s ease-in-out;
  transform: translateY(150px) rotateY(180deg);
  border: 2px solid #fff;
  z-index: 99;
}

.btn__toTop.active {
  transform: translateY(0) rotateY(360deg);
}

.btn__toTop:hover {
  transform: scale(1.05);
}

.btn__toTop i {
  font-size: 3rem;
  position: absolute;
  transition: 0.2s linear;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.btn__toTop:hover i {
  top: 15px;
}

.test {
  height: 1900px;
}

/* =========================== HERO SECTION =========================== */
.hero__section {
  height: 110vh;
  background-image: url(../img/hero__bg.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.hero__content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 420px;
  color: #fff;
  left: 150px;
}

.hero__content-title {
  opacity: 0;
  font-size: 4rem;
  text-transform: capitalize;
}


.hero__content-paragraph {
  opacity: 0;
  font-size: 1.4rem;
  margin-top: 16px;
}

.hero__content-btn {
  opacity: 0;
  font-size: 1.2rem;
  font-weight: 800;
  color: #fff;
  width: 110px;
  height: 40px;
  display: inline-flex;
  overflow: hidden;
  border-radius: 20px;
  transition: .2s linear;
  position: relative;
  z-index: 2;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}

.hero__content-title.active {
  animation: fadeIn-Slide-FromRight 1.5s ease-out forwards;
}

.hero__content-paragraph.active {
  animation: fadeIn-Slide-FromRight 1.5s .2s ease-out forwards;
}

.hero__content-btn.active {
  animation: fadeIn-Slide-FromRight 1.5s .4s ease-out forwards;
}


.hero__content-btn::before {
  content: '';
  background-color: #ff8806;
  position: absolute;
  inset: 0;
  z-index: -1;
}

.hero__content-btn::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: #fff;
  transform: translateX(-100%);
  transition: .5s ease-out;
  z-index: -1;
  opacity: 0;
}

.hero__content-btn:hover {
  color: #ff8806;
}

.hero__content-btn:hover::after{
  transform: translateX(0);
  opacity: 1;
}

.hero__img {
  position: absolute;
  border-radius: 50%;
  opacity: 0;
  -webkit-user-drag: none;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

.hero__img.active {
  animation: fadeIn-Rotate-FromTop 1.5s .1s ease-out forwards;
}

@keyframes fadeIn-Rotate-FromTop {
  0% {
    transform: rotateY(-100deg) translateY(-40px);
  }

  60% {
    transform: rotateY(0) translateY(0);
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn-Slide-FromRight {
  0% {
    transform: translateX(-40px);
  }

  60% {
    transform: translateX(0);
  }

  100% {
    opacity: 1;
  }
}

.hero__img1-wrap {
  position: absolute;
  height: 300px;
  width: 300px;
  z-index: 3;
  right: 80px;
  top: 240px;
}

.hero__img-1 {
  height: 300px;
  width: 300px;
}

.hero__img1-tag {
  position: absolute;
  z-index: 4;
  background-color: #fff;
  bottom: -40px;
  right: 50px;
  text-align: center;
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

.hero__img1-tag.active {
  animation: fadeIn-Rotate-FromTop 1.5s .6s ease-out forwards;
}

.hero__img1-tagTitle {
  font-size: 2.6rem;
  font-weight: 800;
  color: #326460;
}

.hero__img1-tagContent {
  font-size: 1.6rem;
  margin-top: 12px;
}

.hero__img-2 {
  height: 220px;
  width: 220px;
  top: 350px;
  right: 340px;
  z-index: 2;
}

.hero__img-3 {
  height: 180px;
  width: 180px;
  top: 130px;
  right: 350px;
}



/* ========================== CONTENT CSS ========================== */
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1545px;
}

.main__content-introduce {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.main__content-introduce .introduce__text {
  max-width: 33.3333333333%;
  padding: 0 15px;
}
.main__content-introduce .introduce__text-title {
  font-size: 48px;
}
.main__content-introduce .introduce__text-subtitle {
  margin-top: 32px;
  font-size: 16px;
}
.main__content-introduce .introduce__card {
  max-width: 66.6666666667%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.main__content-introduce .introduce__card-item {
  width: 33.3333333333%;
  text-align: center;
  padding: 0 15px 30px;
}
.main__content-introduce .introduce__card-item .item__wrap {
  background-color: #fff;
  border-radius: 15px;
  padding: 18px;
}
.main__content-introduce .introduce__card-item .item__wrap-img {
  border-radius: 16px;
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 36px;
}
.main__content-introduce .introduce__card-item .item__wrap-img img {
  border-radius: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.main__content-introduce .introduce__card-item .item__wrap-title {
  padding: 15px 0 0;
  font-size: 20px;
  color: #ccc;
}
.main__content-introduce .introduce__card-item:hover {
  cursor: pointer;
}
.main__content-introduce .introduce__card-item:hover .item__wrap-img {
  background-color: #ccc;
}
.main__content-introduce .introduce__card-item:hover .item__wrap-title {
  color: #000;
}

/*# sourceMappingURL=main.css.map */
