/* ========================= IMPORT FONT ========================= */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap");
/* ========================== RESET CSS ========================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.2s linear;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

/* ========================== RENGULAR CSS ========================== */
html {
  font-size: 10px;
  color: #333;
  font-family: "Quicksand", sans-serif;
  background-color: #f4f4f4;
  transition: 0.2s linear;
  scroll-behavior: smooth;
}

/* ======================== HEADER SECTION ======================== */
.header__section {
  position: fixed;
  right: 0;
  left: 0;
  height: 134px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  padding: 0 65px;
  transition: 0.2s linear;
}

.header__section.active {
  background-color: #ff8806;
  height: 96px;
}

.header__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.header__nav-item {
  margin: 0 25px;
  position: relative;
}

.header__nav-link {
  font-size: 1.6rem;
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
}

.header__nav-lineItem {
  display: block;
  background-color: #fff;
  width: 100%;
  height: 3px;
  border-radius: 2px;
  position: absolute;
  top: calc(100% + 8px);
  left: 0;
  transform: scaleX(0);
  transition: 0.2s linear;
}

.header__nav-link:hover ~ .header__nav-lineItem {
  transform: scaleX(1);
}

.header__buyNow-link {
  padding: 15px 42px;
  background-color: #000;
  color: #fff;
  font-size: 1.8rem;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.header__buyNow-link::after {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.3);
  transform: rotate(45deg) scaleY(3) translateY(-50%);
  transition: 0.2s linear;
}

.header__buyNow-link:hover::after {
  transform: rotate(45deg) scaleY(3) translateY(0);
}

/* BUTTON GO TO TOP */
.btn__toTop {
  background-color: #ff8806;
  color: #fff;
  position: fixed;
  bottom: 50px;
  right: 50px;
  padding: 50px 12px 20px;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  transition: transform 0.2s ease-in-out;
  transform: translateY(150px) rotateY(180deg);
  border: 2px solid #fff;
  z-index: 99;
}

.btn__toTop.active {
  transform: translateY(0) rotateY(360deg);
}

.btn__toTop:hover {
  transform: scale(1.05);
}

.btn__toTop i {
  font-size: 3rem;
  position: absolute;
  transition: 0.2s linear;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.btn__toTop:hover i {
  top: 15px;
}

.test {
  height: 1900px;
}

/* =========================== HERO SECTION =========================== */
.hero__section {
  background-image: url(../img/bg-home-eduma.webp);
  background-size: cover;
  background-position: 20% 0;
  position: relative;
  height: 600px;
}
.hero__section-laptop {
  width: 860px;
  height: 430px;
  position: absolute;
  left: 50%;
  bottom: -200px;
  -webkit-user-drag: none;
  transform: translateX(-40%) scale(1.3);
}
.hero__section-tree {
  height: 168px;
  width: 168px;
  position: absolute;
  left: 15%;
  bottom: 10px;
  -webkit-user-drag: none;
}
.hero__section-tree.active {
  animation: fadeIn-Slide-FromBottom-Tree 1.8s ease-in-out;
}
@keyframes fadeIn-Slide-FromBottom-Tree {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  60% {
    transform: translateY(0);
  }
  100% {
    opacity: 1;
  }
}
.hero__section-laptop.active {
  animation: fadeIn-Slide-FromLeft-Laptop 1.8s ease-in-out;
}
@keyframes fadeIn-Slide-FromLeft-Laptop {
  0% {
    opacity: 0;
    transform: translateX(calc(-40% - 200px));
  }
  60% {
    transform: translateX(-40%) scale(1.3);
  }
  100% {
    opacity: 1;
  }
}

.hero__content {
  position: absolute;
  top: 400px;
  transform: translateY(-50%);
  width: 500px;
  color: #fff;
  left: 150px;
}

.hero__content-title {
  opacity: 0;
  font-size: 46px;
  font-weight: 700;
  text-transform: capitalize;
}

.hero__content-paragraph {
  opacity: 0;
  font-size: 1.6rem;
  margin-top: 16px;
  line-height: 1.8;
}

.hero__content-btn {
  opacity: 0;
  font-size: 1.4rem;
  font-weight: 800;
  color: #fff;
  padding: 25px 50px;
  display: inline-flex;
  overflow: hidden;
  border-radius: 50px;
  transition: 0.2s linear;
  position: relative;
  z-index: 2;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  border: 2px solid #fff;
}

.hero__content-title.active {
  animation: fadeIn-Slide-FromRight 1.5s ease-out forwards;
}

.hero__content-paragraph.active {
  animation: fadeIn-Slide-FromRight 1.5s 0.2s ease-out forwards;
}

.hero__content-btn.active {
  animation: fadeIn-Slide-FromRight 1.5s 0.4s ease-out forwards;
}

.hero__content-btn::before {
  content: "";
  background-color: #ff8806;
  position: absolute;
  inset: 0;
  z-index: -1;
}

.hero__content-btn::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #fff;
  transform: translateX(-100%);
  transition: 0.5s ease-out;
  z-index: -1;
  opacity: 0;
}

.hero__content-btn:hover {
  color: #ff8806;
}

.hero__content-btn:hover::after {
  transform: translateX(0);
  opacity: 1;
}

.hero__section-imgWrap {
  position: absolute;
  top: 150px;
  right: 680px;
  display: none;
}

.hero__img {
  position: absolute;
  border-radius: 50%;
  opacity: 0;
  -webkit-user-drag: none;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
  object-fit: cover;
}

.hero__img.active {
  animation: fadeIn-Rotate-FromTop 1.5s 0.1s ease-out forwards;
}

@keyframes fadeIn-Rotate-FromTop {
  0% {
    transform: rotateY(-100deg) translateY(-40px);
  }
  60% {
    transform: rotateY(0) translateY(0);
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn-Slide-FromRight {
  0% {
    transform: translateX(-40px);
  }
  60% {
    transform: translateX(0);
  }
  100% {
    opacity: 1;
  }
}
.hero__img1-wrap {
  position: absolute;
  height: 300px;
  width: 300px;
  z-index: 3;
  top: 110px;
  left: 168px;
}

.hero__img-1 {
  height: 400px;
  width: 400px;
}

.hero__img1-tag {
  position: absolute;
  z-index: 4;
  background-color: #fff;
  bottom: -150px;
  right: -60px;
  text-align: center;
  width: 160px;
  height: 160px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

.hero__img1-tag.active {
  animation: fadeIn-Rotate-FromTop 1.5s 0.6s ease-out forwards;
}

.hero__img1-tagTitle {
  font-size: 2.6rem;
  font-weight: 800;
  color: #326460;
}

.hero__img1-tagContent {
  font-size: 1.6rem;
  margin-top: 12px;
}

.hero__img-2 {
  height: 260px;
  width: 260px;
  z-index: 2;
  left: -50px;
  top: 290px;
}

.hero__img-3 {
  height: 200px;
  width: 200px;
  right: 0;
  left: 0;
}

/* ========================== CONTENT CSS ========================== */
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1545px;
}

.main {
  background: url("../img/bg-content1.webp") no-repeat;
  padding-top: 120px;
}
.main__content {
  padding-top: 12rem;
}
.main__content-introduce {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 120px;
}
.main__content-introduce .introduce__text {
  max-width: 33.3333333333%;
  padding: 0 15px;
}
.main__content-introduce .introduce__text-title {
  font-size: 48px;
}
.main__content-introduce .introduce__text-subtitle {
  margin-top: 32px;
  font-size: 16px;
}
.main__content-introduce .introduce__card {
  max-width: 66.6666666667%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.main__content-introduce .introduce__card-item {
  width: 33.3333333333%;
  text-align: center;
  padding: 0 15px 30px;
}
.main__content-introduce .introduce__card-item .item__wrap {
  background-color: #fff;
  border-radius: 15px;
  padding: 18px;
}
.main__content-introduce .introduce__card-item .item__wrap-img {
  border-radius: 16px;
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 36px;
}
.main__content-introduce .introduce__card-item .item__wrap-img img {
  border-radius: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.main__content-introduce .introduce__card-item .item__wrap-title {
  padding: 15px 0 0;
  font-size: 20px;
  color: #ccc;
}
.main__content-introduce .introduce__card-item:hover {
  cursor: pointer;
}
.main__content-introduce .introduce__card-item:hover .item__wrap {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}
.main__content-introduce .introduce__card-item:hover .item__wrap-img {
  background-color: #f4f4f4;
}
.main__content-introduce .introduce__card-item:hover .item__wrap-title {
  color: #000;
}
.main__content-video {
  padding-top: 120px;
  background: url("../img/background-content.webp") no-repeat;
}
.main__content-video .video__section-item {
  margin: 48px auto;
  max-width: 66.6666666667%;
}
.main__content-video .video__section-item .video__wrap {
  background: #fff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  border-radius: 40px;
  padding: 30px;
}
.main__content-video .video__section-item .video__wrap #video {
  width: 100%;
  height: 100%;
  border-radius: 16px;
}
.main__content-video .main__content-number {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 120px;
}
.main__content-video .main__content-number .number__title {
  margin-top: 16px;
  font-size: 48px;
}
.main__content-video .main__content-number .number__rating {
  margin-top: 16px;
}
.main__content-video .main__content-number .number__rating i {
  font-size: 32px;
  color: #ffb606;
}
.main__courses {
  background: url(../img/background-course.webp) no-repeat;
  font-size: 16px;
  text-align: center;
  color: #fff;
  padding: 120px 0;
}
.main__courses-title h2 {
  font-size: 40px;
  padding-bottom: 42px;
}
.main__courses-category .category__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 20px;
}
.main__courses-category .category__menu-item {
  font-size: 20px;
}
.main__courses-category .category__menu-item a {
  color: #fff;
}
.main__courses-category .category__menu-item.active {
  font-weight: 700;
  border-bottom: 2px solid #fff;
}
.main__courses-course {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px 10px;
  padding-top: 20px;
}
.main__courses-course .course__wrap {
  display: flex;
  align-items: center;
  max-width: calc(33.3333333333% - 15px);
}
.main__courses-course .course__wrap-item {
  max-width: 95%;
  background: #fff;
  border-radius: 15px;
  padding: 20px;
  transition: all 0.5s;
}
.main__courses-course .course__wrap-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.main__courses-course .course__wrap-item h3 {
  color: #000;
  padding: 16px 0;
}
.main__courses-course .course__wrap-item:hover {
  cursor: pointer;
  background: linear-gradient(221deg, #00feaf 0%, #1d8ffa 29%, #01d6ff 100%);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}
.main__courses-course .course__wrap-item:hover h3 {
  color: #fff;
}

#footer {
  background: url(../img/footer.webp) no-repeat;
}
#footer .footer__logo {
  padding: 100px 0;
}
#footer .footer__logo img {
  display: flex;
  margin: auto;
  max-width: 66.6666666667%;
}

.quiz__container {
  height: 100vh;
  background: url("/assets/img/bg_0.png") no-repeat;
  background-size: cover;
  position: relative;
}
.quiz__container .quiz__logo {
  position: absolute;
  top: 50px;
  left: 50px;
}
.quiz__container .question__quiz {
  width: 1200px;
  height: 750px;
  background: url("/assets/img/bg_1.png") no-repeat #000;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
}
.quiz__container .question__quiz .question__timer {
  text-align: center;
  margin-top: 40px;
}
.quiz__container .question__quiz .question__timer img {
  width: 50px;
}
.quiz__container .question__quiz .question__timer .clock__param {
  color: #27a0f3;
  font-weight: bold;
  font-size: 28px;
  margin: 24px;
}
.quiz__container .question__quiz .question__content {
  color: #fff;
  font-size: 48px;
  margin-top: 35px;
}
.quiz__container .answer__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
  margin: -10rem auto 0;
}
.quiz__container .answer__list-item {
  cursor: pointer;
  width: 23%;
  height: 20vh;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  background-color: #fff;
  font-weight: bolder;
  border-radius: 10px;
}
.quiz__container .answer__list-item span {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  top: -20px;
  background-color: #000;
  color: #fff;
  font-weight: bolder;
}
.quiz__container .answer__list-item.active {
  background: linear-gradient(#27a0f3, #1a6699);
  color: #fff;
}
.quiz__container .answer__list-item.active span {
  background: linear-gradient(#27a0f3, #1a6699);
}

/*# sourceMappingURL=main.css.map */
