table, th, td {
    margin: 0 auto;
    border: 1px solid white;
    border-collapse: collapse;
  }
  th, td {
    background-color: #96D4D4;
  }

.container, .table-responsive, .table {
    text-align: center;
}

.header{
    font-family: 'Roboto', sans-serif;
}

.footer {
    
}